.list-group-item{
    cursor: pointer;
    text-decoration: none !important;
}
.list-group-item:hover{
    background-color: #f0f0f0;
}
a:hover{
    text-decoration: none !important;
}
.gridder{
    border: 1px solid rgb(204, 204, 204);
    height: 120px;
}
.shimmy{
    margin-left:13px;
}